.header {
    position: relative;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.nav {
    position: relative;
    height: 100%;
    align-items: center;
    padding: 5px 15px 5px 15px;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: #FFF;
}

.nav_link {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    color: #FFF;
}

.searchbar-form {
    display: flex;
    width: 50%;
}

    .searchbar-form input {
        margin-right: 10px;
        width: 100%;
    }

    .searchbar-form button {
        max-width: 100px;
    }

@media (max-width: 800px) {
    .nav {
        flex-wrap: wrap;
    }

        .nav :nth-child(2) {
            width: 100%;
            order: 3;
        }
}
