* {
    margin: 0;
    padding: 0;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    position: absolute;
}

.container {
    height: 100%;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.pt-5 {
    padding-top: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.animated-btn {
    background: #000;
    border: 1px solid #000;
    color: #FFF;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 5px;
}

    .animated-btn:after {
        background: #FFF;
        bottom: 0;
        content: "";
        left: -20%;
        position: absolute;
        right: -20%;
        top: 0;
        transform: skewX(-45deg) scale(0, 1);
        transition: all .5s;
        z-index: -1;
    }

    .animated-btn:hover {
        color: #000;
    }

        .animated-btn:hover:after {
            -webkit-transition: all .5s;
            transform: skewX(-45deg) scale(1, 1);
            transition: all .5s;
        }


.form {
    padding: 25px;
    max-width: 450px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 600px) {
    .form {
        max-width: none;
        height: 100%;
        width: 100%;
    }
}

.form-header {
    font-size: 24px;
}

.form-block {
    width: 100%;
    margin-top: 10px;
}

.form_img {
    display: flex;
    justify-content: center;
}

#imagePreview {
    max-height: 300px;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.form input {
    width: 100%;
}

.form a {
    text-decoration: none;
    color: #000;
}
.remember-div {
    display: flex;
}

    .remember-div input {
        margin-right: 5px;
        width: auto;
    }

.table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

    .table th {
        text-align: left;
        background-color: #000;
        color: white;
        padding: 10px;
    }

    .table td {
        padding: 5px;
        word-wrap: anywhere;
    }

    .table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table tr:hover {
        background-color: #ddd;
    }

.side-bar {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%;
    min-width: 150px;
    overflow-y: auto;
}

@media (max-width: 800px) {
    .side-bar {
        width: 100%;
        height: fit-content;
        overflow-y: unset;
    }
}

    .side-bar::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    .side-bar::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    .side-bar::-webkit-scrollbar-thumb {
        background-color: #000000;
    }

#tagList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 4px;
}

    #tagList a {
        text-decoration: none;
    }

.tag-element {
    display: flex;
    position: relative;
    align-items: center;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: black;
    color: white;
}

.delete-tag-btn {
    padding-left: 10px;
    padding-right: 10px;
    background: black;
    border: none;
    color: white;
    height: 100%;
    border-radius: 0 5px 5px 0;
}

.add-tag-form {
    display: flex;
    width: 100%;
}

    .add-tag-form input {
        width: 100%;
    }

    .add-tag-form button {
        margin-left: 4px;
        width: 70px;
        font-size: 14px;
        font-weight: normal display: inline-flex;
        align-items: center;
    }

    .tag-div form {
        display: flex;
    }

.pagination-container {
    margin-top: 10px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-container .pagination {
    height: 40px;
    position: relative;
    background-color: #000;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

    .pagination-container .pagination li {
        list-style-type: none;
        display: inline-block;
    }

        .pagination-container .pagination li a {
            position: relative;
            padding: 15px 15px;
            text-decoration: none;
            color: #FFF;
            font-weight: 500;
        }

            .pagination-container .pagination li a:hover,
            .pagination-container .pagination li.active a {
                background: rgba(255, 255, 255, 0.2);
            }
