* {
    margin: 0;
    padding: 0;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.container {
    height: 100%;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.pt-5 {
    padding-top: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

/*----animated-btn----*/
.animated-btn {
    background: #000;
    border: 1px solid #000;
    color: #FFF;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 5px;
}

    .animated-btn:after {
        background: #FFF;
        bottom: 0;
        content: "";
        left: -20%;
        position: absolute;
        right: -20%;
        top: 0;
        transform: skewX(-45deg) scale(0, 1);
        transition: all .5s;
        z-index: -1;
    }

    .animated-btn:hover {
        color: #000;
    }

        .animated-btn:hover:after {
            -webkit-transition: all .5s;
            transform: skewX(-45deg) scale(1, 1);
            transition: all .5s;
        }
/*--------------------*/

/*-------Header-------*/
.header {
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.nav {
    align-items: center;
    padding: 5px 15px 5px 15px;
}

.nav__logo {
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
    color: #FFF;
}

.nav__link {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    color: #FFF;
}

.searchbar-form {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    width: 50%;
}

    .searchbar-form input {
        margin-right: 10px;
        width: 100%;
    }

    .searchbar-form button {
        max-width: 100px;
    }

@media (max-width: 800px) {
    .nav {
        flex-wrap: wrap;
    }

    .searchbar-form {
        padding-left: 0px;
        padding-right: 0px;
    }

        .nav :nth-child(2) {
            width: 100%;
            order: 3;
        }
}
/*--------------------*/

/*-------form---------*/
.form {
    padding: 25px;
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 600px) {
    .form {
        max-width: none;
        height: 100%;
        width: 100%;
    }
}

.form__header {
    font-size: 24px;
}

.form__block {
    width: 100%;
    margin-top: 10px;
}

.form__img {
    display: flex;
    justify-content: center;
}

.imagePreview {
    max-height: 300px;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.form input {
    width: 100%;
}

.form a {
    text-decoration: none;
    color: #000;
}

.remember-div {
    display: flex;
}

    .remember-div input {
        margin-right: 5px;
        width: auto;
    }

/*--------------------*/

/*-------table--------*/
.table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

    .table th {
        text-align: left;
        background-color: #000;
        color: white;
        padding: 10px;
    }

    .table td {
        padding: 5px;
        word-wrap: anywhere;
    }

    .table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table tr:hover {
        background-color: #ddd;
    }
/*--------------------*/

/*------sidebar-------*/
.sidebar {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: auto;
}

@media (max-width: 800px) {
    .sidebar {
        width: 100%;
        height: fit-content;
        overflow-y: unset;
    }
}

.sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #000000;
}
/*--------------------*/

/*------tag-list-------*/
.tag-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 4px;
}

.tag-list__link {
    text-decoration: none;
}

.tag-list__tag {
    display: flex;
    position: relative;
    align-items: center;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: black;
    color: white;
}

.tag__delete-btn {
    padding-right: 5px;
    background: black;
    border: none;
    color: white;
    height: 100%;
    border-radius: 0 5px 5px 0;
}

.add-tag-form {
    display: flex;
    width: 100%;
}

    .add-tag-form input {
        width: 100%;
    }

    .add-tag-form button {
        margin-left: 4px;
        width: 70px;
        font-size: 14px;
        font-weight: normal;
        align-items: center;
    }

.tag-div form {
    display: flex;
}
/*--------------------*/

/*-----pagination-----*/
.pagination-container {
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .pagination-container .pagination {
        height: 40px;
        position: relative;
        background-color: #000;
        box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .pagination-container .pagination li {
            list-style-type: none;
            display: inline-block;
        }

            .pagination-container .pagination li a {
                position: relative;
                padding: 15px 15px;
                text-decoration: none;
                color: #FFF;
                font-weight: 500;
            }

                .pagination-container .pagination li a:hover,
                .pagination-container .pagination li.active a {
                    background: rgba(255, 255, 255, 0.2);
                }

/*--------------------*/

/*----file-gallery----*/
.file-gallery {
    padding: 15px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1500px) {
    .file-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .file-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .file-gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

.file-gallery__container {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    height: fit-content;
    display: flex;
}

    .file-gallery__container a {
        width: 100%;
    }

.file-gallery__img {
    object-fit: cover;
}

.file-gallery__conainer-overlay {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    display: none;
}

.file-gallery__container:hover .file-gallery__conainer-overlay {
    display: block;
}
/*--------------------*/

/*----similar-files---*/
.similar-files {
    padding: 25px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1, 1fr);
}
/*--------------------*/


/*------user-card-----*/
.user-card {
    height: fit-content;
    padding: 15px;
}

    .user-card a {
        height: 100%;
    }

.user-card__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.user-card__username {
    font-size: 24px;
}

@media (max-width: 800px) {
    .user-card {
        height: 80px;
        flex-direction: row;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .user-card__username {
        align-self: end;
        font-size: 20px;
        margin-left: 10px;
    }
}
/*--------------------*/

/*------file-----*/
.file {
    max-height: 95vh;
}

.image-box {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;

}

.image-box__img {
    position: relative;
    max-height: 90%;
    max-width: 90%;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.file-info {
    text-align: center;
}

.file-resolution {
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 800px) {
    .file {
        flex-direction: column;
    }

        .file:nth-of-type(1) .sidebar {
            order: 2;
        }

        .file:nth-of-type(1) .similar-files {
            order: 2;
        }

    .file-info {
        text-align: start;
    }

    .sub-file-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/*--------------------*/


@media (max-width: 800px) {
    .profile {
        flex-direction: column;
    }
}
