@model WallpaperPortal.ViewModels.ForgotPasswordModel

<div class="center-container">
    <form class="form" method="post" asp-controller="Authorization" asp-action="ForgotPassword">
        <div asp-validation-summary="ModelOnly"></div>

        <h2 class="form-header">Reset password</h2>

        <div class="form-block">
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="form-block">
            <button class="animated-btn" type="submit">
                Reset
            </button>
        </div>

        <div class="form-block">
            A recovery email will be sent to the email provided.
        </div>

    </form>
</div>
