@model WallpaperPortal.ViewModels.ResetPasswordModel

<div class="center-container">
    <form class="form" method="post" asp-controller="Authorization" asp-action="ResetPassword">
        <div asp-validation-summary="ModelOnly"></div>

        <h2 class="form-header">Reset Password</h2>

        <div class="form-block">
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div class="form-block">
            <label asp-for="ConfirmPassword"></label><br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <input type="hidden" asp-for="Email" class="form-control" />
        <input type="hidden" asp-for="Token" class="form-control" />

        <div class="form-block">
            <button class="animated-btn" type="submit">
                Reset
            </button>
        </div>
    </form>
</div>