@model WallpaperPortal.Models.User

@{
    ViewData["Title"] = "Change profile image";
}

<div class="container flex-row justify-content-center align-items-center">
    <form class="form" asp-action="ChangeProfileImage" asp-controller="Users" method="post" enctype="multipart/form-data">

        <h2 class="form-header">Choose your avatar</h2>

        <div class="form-block">
            <div class="form_img">
                <img id="imagePreview" src="@Model.ProfileImage" />
            </div>
        </div>

        <div class="form-block">
            <input class="upload-file" type="file" name="upload" />
        </div>

        <div class="form-block">
            <button class="animated-btn" type="submit" value="Upload">
                Update
            </button>
        </div>

    </form>
</div>