@using WallpaperPortal.Helpers;
@model WallpaperPortal.ViewModels.FilesViewModel

@{
    ViewData["Title"] = $"Download {string.Join(", ", Model.FilesQuery.Tag)} wallpaper for free";
}

@section metatags {
    <meta name="content" content="Download @Model.FilesQuery.Tag wallpaper for free" />
    <meta name="description" content="Discover and download high-quality @Model.FilesQuery.Tag wallpapers collection, all available for free. Select from a wide array of breathtaking images to personalize your desktop or device screen. " />
    <meta name="keywords" content="Download @Model.FilesQuery.Tag wallpaper for free" />
}

<div class="container flex-column">

    @await Html.PartialAsync("_FileGallery", Model.PagedList.Items)

    @if (Model.PagedList.TotalPages > 1)
    {
        <div class="pagination-container">
            @Html.PaginationLinks(Model.PagedList)
        </div>
    }
</div>