@using System.Security.Claims;
@using WallpaperPortal.Helpers;

<header class="header">

    <nav class="nav flex-row justify-content-space-between align-items-center">

        <a class="nav__logo" asp-area="" asp-controller="" asp-action="Index">Dreamscape</a>

        <form class="searchbar-form" asp-controller="File" asp-action="Files" method="get">
            <input id="search" type="text" name="tag" placeholder="Search..." />
            <button style="border-color: white" class="animated-btn" type="submit">Search</button>
        </form>

        <div class="nav_auth-container">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="nav__link" asp-controller="File" asp-action="Upload">Upload</a>
                <a class="nav__link" asp-controller="Users" asp-action="Profile" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">@User.Identity.Name</a>
                <a class="nav__link" asp-controller="Authorization" asp-action="Logout">Logout</a>
            }
            else
            {
                <a class="nav__link" asp-controller="Authorization" asp-action="Login">Login</a>
                <a class="nav__link" asp-controller="Authorization" asp-action="Register">Register</a>
            }
        </div>

    </nav>

</header>

@using (Html.BeginScripts())
{
    <script>
        $(function () {
            $("#search").on("input", function () {
                var inputTag = $(this).val().trim();
                if (inputTag !== "") {
                    $.ajax({
                        url: "/Tag/Tags",
                        method: "GET",
                        data: { prefix: inputTag },
                        success: function (data) {
                            var availableTags = data.map(function (tag) {
                                return tag.name;
                            });

                            $("#search").autocomplete({
                                source: availableTags
                            });
                        },
                        error: function (error) {
                            console.log(error);
                        }
                    });
                }
            });
        });
    </script>
}
