@using System.Security.Claims;
@model User

<div class="user-card flex-column align-items-center">

    <a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.Id">
        <img class="user-card__img" src=@(Model.ProfileImage ?? "/Assets/Images/default-user-image.png") />
    </a>

    <div class="user-card__username pt-5">
        @Model.UserName
    </div>

</div>